@model DifferentWeb.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester.semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester.semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstSemesterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstSemesterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
